body * {
    font-family: Helvetica, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

button {
    border: none;

    cursor: pointer;
}

.button-primary {
    background-color: var(--button-background);
    border-radius: 8px;
    color: white;

    padding: 8px;
    width: fit-content;

    font-weight: bold;
}

.text-light {
    font-weight: 300;
}

.shadow {
    filter: drop-shadow(2px 4px 4px #00000066);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 24px 32px;
}

body>nav>div>aside {
    position: absolute;
    top: 0;
    left: -200px;

    box-sizing: border-box;

    height: 100%;

    padding: 32px;

    background-color: var(--background-color);

    border-right: 1px solid lightgray;

    transition: left 0.3s ease-in-out;

    &>ul {
        display: grid;
        row-gap: 16px;

        &>li {
            list-style-type: none;
            font-size: 1.5rem;
        }
    }
}

body>nav>div>#openMenu:checked~aside {
    left: 0px;
}

body>nav {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &>a>img {
        width: 40px;
    }

    @media (prefers-color-scheme: dark) {
        &>a>img.shadow {
            filter: invert(99%) sepia(9%) saturate(674%) hue-rotate(178deg) brightness(99%) contrast(94%);
        }
    }

    &>div {
        align-content: center;

        &>label>img {
            cursor: pointer;

            @media (prefers-color-scheme: dark) {
                filter: invert(99%) sepia(9%) saturate(674%) hue-rotate(178deg) brightness(99%) contrast(94%);
            }
        }
    }
}

body>section:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    max-width: 800px;

    text-align: center;

    &>div>.text-bold {
        font-size: 24px;
        font-weight: bold;
    }

    &>img {
        width: 120px;
        border-radius: 60px;

        margin-top: 16px;
    }
}

body>section:nth-of-type(2) {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 10px;

    &>p {
        font-size: 24px;
    }

    &>div {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;

        @media (prefers-color-scheme: dark) {
            &>a>img {
                filter: brightness(0) saturate(100%) invert(99%) sepia(9%) saturate(674%) hue-rotate(178deg) brightness(99%) contrast(94%);
                ;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    p {
        font-size: 1.25rem;
    }
    
    .button-primary {
        font-size: 1rem;
    }

    body>nav>a>img {
        width: 50px;
    }

    body>nav>div>label>img {
        width: 25px;
    }

    body>section:first-of-type {
        &>img {
            width: 150px;
            border-radius: 75px;
        }

        &>div>.text-bold {
            font-size: 1.875rem;
        }
    }

    body>section:nth-of-type(2) {
        &>p {
            font-size: 1.875rem;
        }
    }
}